**/.pbi/localSettings.json
**/.pbi/cache.abf
**/.pbi/unappliedChanges.json
**/.pbi/editorSettings.json

.env
.env.*
!.env.example
*.pfx
*.pem
*.key

__pycache__/
*.pyc
.pytest_cache/

workspace/
dist/
*.zip
.vscode/
.idea/
